



.text-center{
  text-align: center;
}

.row{
  display: flex;
  flex-wrap: wrap;

}

@media (min-width: 992px){
  max-width: 960px;
}

@media (min-width: 768px) {
  max-width: 720px;
}

footer {
  padding: 30px 0 !important; }
  footer.footer-large {
    padding: 100px 0 !important; }
  footer .flex-column .nav-link {
    padding-left: 0; }
  footer.bg-dark {
    background: #2d313c;
    color: #f2f2f2; }
    footer.bg-dark a {
      color: #f2f2f2; }
  footer a {
    color: #444444; }
